<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Veritabanı_Yönetim_Ödevi.Properties.Settings.MertemiConnectionString"
            connectionString="Data Source=DESKTOP-4PAEP6V;Initial Catalog=Mertemi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>